.blogheader {
  display: grid;
  grid-gap: $gutter-gap;
  grid-template-columns: 1fr 1fr;

  &__logo-box {
    margin-top: 6rem;
    margin-left: 6rem;
    height: 18rem;
    width: 18rem;
  }

  &__logo {
    height: 100%;
  }
}