.footer {
  background-color: $color-grey-dark-2;
  padding-bottom: 4rem;
  padding-top: 4rem;

  &_container {
    display: grid;
    width: $grid-width;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $gutter-gap;
    grid-template-rows: auto;
    margin: 0 auto;
    justify-items: center;
  }

  &_boxes {
    color: $color-grey-light-1;

    &_text{
      color: $color-grey-light-1;
    }

    &_thirdline{
      display: flex;
      justify-content: space-between;
    }
  }

  &_boxes_text:hover {
    color: $color-black;
    cursor: pointer;
  }
}

@media (max-width: 1140px) {
  .footer {  
    &_container {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .footer {  
    &_container {
      grid-column-gap: $gutter-gap*.2;
    }
  }
}