.section-blog {
  background-color: $color-grey-light-3;
  padding-bottom: 6rem;
  padding-top: 6rem;

  &_container {
    display: grid;
    width: $grid-width;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    margin: 0 auto;
    background-color: $color-grey-light-2;
  }

  &_title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    padding: 2rem;
  }

  &_content {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $color-grey-light-1;
    align-self: center;
    padding: 2rem;

    &_photo {
      width: 40rem;
      border-radius: 50%;
      float: left;
      shape-outside: ellipse(42% 48%);
      margin: 1rem 6rem 1rem 0rem;
    }

    &_bullets {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &_item{
        width: 50%;
      }
    }
  }

  &_moreblogs {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 2rem;
    align-self: center;

    &_list {
      justify-self: center;
      cursor: pointer;
      padding: 1rem;

      &_first {
        background-color: $color-grey-light-3;
        border-style: solid;
        border-color: $color-primary;
        margin-bottom: 1rem;
      }

      &_second {
        background-color: $color-grey-light-3;
        border-style: solid;
        border-color: $color-primary;
        margin-bottom: 1rem;
      }

      &_third {
        background-color: $color-grey-light-3;
        border-style: solid;
        border-color: $color-primary;
        margin-bottom: 1rem;
      }

      &_photos {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 50%;
      }

      &_text {
        font-size: 2rem;
        color: $color-primary;
      }
    }
  }

  &_buttons {
    padding-top: 6rem;
    text-align: center;

    &_button1 {
      margin-right: 3rem;
    }

    &_button2 {
      margin-left: 3rem;
    }
  }

  &_paragraph{
    margin-top: 1rem;
  }

  &_paragraph2{
    margin-top: 1.5rem;
  }
}

#section-blog_title_second {
  display: none;
}

#section-blog_title_third {
  display: none;
}

#section-blog_title_fourth {
  display: none;
}

#section-blog_content_second {
  display: none;
}

#section-blog_content_third {
  display: none;
}

#section-blog_content_fourth {
  display: none;
}

#section-blog_list_first {
  display: none;
}

// #section-blog_list_second {
//   order: 5;
// }

@media (max-width: 1140px) {
  .section-blog {
    &_container {
      width: 100%;
    }
  }
}

@media (max-width: 1024px){
  .section-blog {  
    &_container {
      width: 70rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
    }
  
    &_title {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  
    &_content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  
    &_moreblogs {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;

      // &_flex{
      //   display: flex;
      //   justify-content: space-between;
      // }
  
      &_list {
        justify-self: center;
        cursor: pointer;

        &_flex {
          display: flex;
        }

        &_first {
          width: 50%;
          margin: 2rem;
        }

        &_second {
          width: 50%;
          margin: 2rem;
        }

        &_third {
          width: 50%;
          margin: 2rem;
        }
  
        &_photos {
          width: 50%;
        }
  
        &_text {
          display: block;
        }
      }
    }
  }  
}

@media (max-width: 700px) {
  .section-blog {  
    &_container {
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
    }
  
    &_title {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  
    &_content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;

      &_photo {
        width: 50%;
      }
    }
  
    &_moreblogs {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;

      // &_flex{
      //   display: flex;
      //   justify-content: space-between;
      // }
  
      &_list {
        justify-self: center;
        cursor: pointer;

        &_flex {
          display: flex;
        }

        &_first {
          width: 50%;
          margin: 2rem;
        }

        &_second {
          width: 50%;
          margin: 2rem;
        }

        &_third {
          width: 50%;
          margin: 2rem;
        }
  
        &_photos {
          width: 50%;
        }
  
        &_text {
          display: block;
        }
      }
    }
  }  
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (max-width: 480px) {

}