.section-about {
  background-color: $color-grey-light-3;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: grid;
  grid-gap: $gutter-gap;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;

  &_heading {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &_box {
    display: grid;
    width: $grid-width;
    grid-gap: $gutter-gap;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    background-color: $color-grey-light-1;
    text-align: left;
    padding: 2rem;
  }

  &_image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    padding: 0;
  }

  &_number {
    align-self: center;
    justify-self: center;
  }

  &_text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &_paragraph {
    margin-top: 1rem;
  }

  &_arrow {
    font-size: 2rem;
  }

  &_certs {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
  }

  &_naha {
    width: 14rem;
    margin-bottom: 2rem;
  }

  &_links {
    display: flex;
    justify-content: space-between;
  }

  //CORRECT TO &:not(:last-child) {margin-right: 4rem;}
  &_icon {
    &_facebook {
      &:hover {
        color: #4267B2;
      }
    }
    &_mail {
      &:hover {
        color: $color-primary;
      }
    }
    &_youtube {
      &:hover {
        color: #FF0000;
      }
    }
    &_instagram {
      &:hover {
        color: #833AB4;
      }
    }
  }

  #section-about_more {
    color: $color-primary;
    cursor: pointer;
  }

  #more,
  #moreSecond {
    display: none;
  }
}

.photo_headshot {
  width: 100%;
}

@media (max-width: 1140px) {
  .section-about {
    &_box {
      width: 100%;
    }
  }
}

@media (min-width: 0px) and (max-width: 1024px){
  .section-about {
  
    &_box {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      width: 70rem;
      grid-gap: $gutter-gap*.5;
    }
  
    &_number {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  
    &_text {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  
    &_certs {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      align-self: center;
    }
  
    &_naha {
      width: 14rem;
      margin-bottom: 2rem;
    }
  
    &_links {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: 0px) and (max-width: 700px){
  .section-about {
  
    &_box {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      width: 100%;
      grid-gap: $gutter-gap*.5;
    }

    &_image {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      align-self: center;
      padding: 0;
    }
  
    &_number {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  
    &_text {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  
    &_certs {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      align-self: center;
    }
  
    &_naha {
      width: 14rem;
      margin-bottom: 2rem;
    }
  
    &_links {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}