.section-disclaimer{
    background-color: $color-grey-dark-1;
    padding-bottom: 2rem;
    padding-top: 2rem;
    position: relative;
    
    &_text{
        width: $grid-width;
        margin: 0 auto;
        text-align: center;
        color:$color-grey-light-3;
    }

    &_link:hover{
        color: $color-black;
        cursor: pointer;
      }

    &_popup {
        width: $grid-width*.5;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        height: 50%;
        position:fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
        background-color: $color-grey-dark-1;
        padding: 2rem;
        color:$color-grey-light-3;
        overflow:auto;
        opacity: 0;

        &_header{ 
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            justify-self: center;
            align-self: center;
        }

        &_icon_close{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            justify-self: right;
            align-self: center;
            cursor: pointer;
            width: 4rem;
        }

        &_text {
            padding-top: 1rem;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
}

@media (max-width: 1140px) {
    .section-disclaimer{
        &_text{
            width: 100%;
        }
    }
}

@media (max-width: 700px){
    .section-disclaimer{
        &_popup {
            width: 100%;
            height: 100%;
        }
    }
}