.section-about {
  background-color: $color-grey-light-3;
  padding-bottom: 6rem;
  padding-top: 6rem;
  display: grid;
  grid-gap: $gutter-gap;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;

  &_heading {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &_box {
    display: grid;
    width: $grid-width;
    grid-gap: $gutter-gap;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    background-color: $color-grey-light-1;
    text-align: left;
    // box-shadow: $box-shadow;
    padding: 2rem;
  }

  &_image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    padding: 0;
  }

  &_number {
    align-self: center;
    justify-self: center;
  }

  &_text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &_paragraph {
    margin-top: 1rem;
  }

  &_arrow {
    font-size: 2rem;
  }

  &_certs {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
  }

  &_naha {
    width: 14rem;
    margin-bottom: 2rem;
  }

  &_links {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
  }

  //CORRECT TO &:not(:last-child) {margin-right: 4rem;}
  &_icon {
    width: 4rem;
    &_facebook {
      margin-right: 2rem;
    }
    &_mail {
      margin-right: 2rem;
    }
  }

  #section-about_more {
    color: $color-primary;
    cursor: pointer;
  }

  #more,
  #moreSecond {
    display: none;
  }
}

.photo_headshot {
  width: 100%;
}
