// COLORS
$color-primary: #27ae60;
$color-primary-light: #36d278;

$color-secondary: #f6b519;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f3f2f2;
$color-grey-light-3: #eee;

$color-grey-dark-1: #666;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: rgb(10, 10, 10);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-gap: 6rem;
$gutter-gap-small: 4rem;
$gutter-gap-large: 8rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;

$box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
